<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="ROOT_LOG_LEVEL"
                    source="logging.level.root" defaultValue="INFO"/>
    <springProperty scope="context" name="LOG_FILE"
                    source="logging.file.name" defaultValue="logs/wbe-backup.log"/>
    <springProperty scope="context" name="LOG_MAX_FILE_SIZE"
                    source="logging.logback.rollingpolicy.max-file-size" defaultValue="50MB"/>
    <springProperty scope="context" name="LOG_MAX_HISTORY"
                    source="logging.logback.rollingpolicy.max-history" defaultValue="14"/>
    <springProperty scope="context" name="LOG_TOTAL_SIZE_CAP"
                    source="logging.logback.rollingpolicy.total-size-cap" defaultValue="1GB"/>

    <springProfile name="!prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="${ROOT_LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <append>true</append>
            <encoder>
                <pattern>${FILE_LOG_PATTERN}</pattern>
                <charset>${FILE_LOG_CHARSET}</charset>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
                <maxFileSize>${LOG_MAX_FILE_SIZE}</maxFileSize>
                <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
                <totalSizeCap>${LOG_TOTAL_SIZE_CAP}</totalSizeCap>
                <cleanHistoryOnStart>false</cleanHistoryOnStart>
            </rollingPolicy>
        </appender>
        <root level="${ROOT_LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING_FILE"/>
        </root>
    </springProfile>
</configuration>
